    h1 {
      font-size:34px,
      padding-top:25px
    }
    
    .updateSignup #mobilesignupform {
      width:100%
    }     
    .updateYourPreferences .block-mobile.right {
      width:668px,
      display:inline-block
    }     
    .updateSignup #mobilesignupform input {
      padding:6px 12px,
      border:1px solid #c1c1c1,
      font-size:17px
    }     
    .updateYourPreferences .email-prefs {
      background:#252d6c,
      max-width:100%,
      width:794px,
      height:auto,
      padding:32px,
      margin:30px 0 60px 0 
    }     
    .updateSignup #mobilesignupform .email-prefs label {
        width:auto,
        margin-right:26px,
        font-size:17px,
        font-weight:normal
    }     
    .updateSignup #mobilesignupform .email-prefs label:last {
      margin-right:0 
    }     
    .updateSignup .ez-checkbox {
      width:36px 
    }     
    .updateYourPreferences .block-update-details {
      margin-top:50px,
      padding-top:50px,
      border-top:1px solid #c1c1c1
    }         
    .updateYourPreferences .block-update-details:first {
      border:none,
      margin-top:0,
      padding-top:0  
    }         
    .updateYourPreferences .block-update-details:last {
      border-bottom:1px solid #c1c1c1,
      margin-bottom:32px,
      padding-bottom:50px
    }         
    .updateYourPreferences .block-update-details .left {
      width:124px,
      display:inline-block,
      margin-right:22px,
      vertical-align:top
      
    }         
    .updateYourPreferences .block-update-details .left img {
      width:100%,
      height:auto
    }         
    .updateYourPreferences .block-update-details h4 {
      border:none,
      margin:0 0 14px 0,
      padding-top:0  
    }     
    .updateYourPreferences .block-update-details label {
      font-size:17px,
      display:inline-block,
      margin:15px 12px 0 0
    }     
    .updateYourPreferences .block-update-details input {
      font-size:17px,
      display:inline-block,
      max-width:229px
    }     
    .updateYourPreferences .block-update-details .right {
      width:668px,
      display:inline-block
    }     
    .updateYourPreferences .block-update-details .right p {
      font-size:17px,
      line-height:1.3
    }     
    .updateYourPreferences .block-update-details .right p.note {
      font-size:11px,
      max-width:131px
    }     
    .updateYourPreferences .block-mobile .mobileContact label.checkBoxSms, .updateYourPreferences .block-mobile.right .mobileContact label.checkBoxCall {
      width:auto,
      margin-top:26px,
      font-weight:normal,
      line-height:30px
    }     
    .updateYourPreferences .block-flybuys label.checkBoxSms, .updateYourPreferences .block-mobile.right .mobileContact label.checkBoxCall {
      width:auto,
      margin-top:26px,
      font-weight:normal,
      line-height:30px
    }     
    .updateSignup #mobilesignupform input.defaultButton {
      margin-bottom:32px
    }